<div class="container mt-4">
  <h1 class="title text-uppercase text-end">Get Inspired</h1>
  <div class="line-header float-end"></div>
  <p class="fw-bold fs-4 text-end mt-5">
    Styling Inspiration / Photoshoots / Brand Insight
  </p>
  <p class="fs-4 text-end mb-4">
    We provide you with the apparel that fits your attitude, your night and your
    life.
  </p>
  <div class="line-full"></div>
  <p class="fs-6 mt-3">
    Designed by Juliet Hammond, in collaboration with Equipped After Dark.<br />
    Photographed by Mark Rogers.
  </p>

  <img
    class="float-end my-4"
    style="width: 20rem; height: auto"
    src="/assets/EAD Logo text purple.png"
    alt="Equipped After Dark Logo"
  />

  <img
    class="inspired-img"
    src="/assets/get-inspired-banner.jpg"
    alt="Get inspired banner"
  />

  <div class="d-flex my-4">
    <div class="purple-swatch me-3"></div>
    <div class="green-swatch mx-3"></div>
    <div class="orange-swatch mx-3"></div>
  </div>
</div>

<div class="gray-bg mt-5 pb-5">
  <div class="container pt-5">
    <h2 class="text-uppercase fw-bold fs-1">New In</h2>
    <div class="new-in-line"></div>
    <p class="fw-bold fs-5">The Latest Collection</p>
    <p class="fs-5">
      Released for this Autumn, the collection equips you for the cooling
      temperatures and darkening nights.
    </p>
    <img
      style="width: 30rem"
      src="assets/pexels-cottonbro-studio-10380640.jpg"
      alt="puffer jacket"
    />

    <div class="divider-line"></div>
    <img
      style="width: 20rem"
      src="assets/pexels-cottonbro-studio-10385234.jpg"
    />
    <img
      style="width: 30rem"
      src="assets/pexels-cottonbro-studio-10380536.jpg"
    />
    <div class="product-line"></div>
    <p>After Dark Reflective Jacket</p>
    <img
      style="width: 20rem"
      src="assets/pexels-cottonbro-studio-10378775.jpg"
    />

    <img
      style="width: 30rem"
      src="assets/pexels-cottonbro-studio-10380552.jpg"
    />
    <div class="product-line"></div>
    <p>All Bases Puffer</p>
    <img
      style="width: 20rem"
      src="assets/pexels-cottonbro-studio-10380586.jpg"
    />
    <button class="text-uppercase d-block m-auto my-5">Shop Now</button>
    <div class="line-header"></div>
    <p class="fw-bold text-uppercase fs-4 my-4">The Shoot</p>
    <p class="fs-5 mb-4">
      Modeled by Alex Hawkins / Jake Armond / Tina Stephens<br />
      Photography by Mark Rogers<br />
      Location: Bristol, UK
    </p>
    <div class="line-full mb-5"></div>
  </div>
</div>

<div class="bg-black d-flex">
  <div class="d-flex">
    <div class="purple-stripe"></div>
    <div class="green-stripe"></div>
    <div class="orange-stripe"></div>
  </div>

  <div class="ms-5">
    <h2 class="text-uppercase text-white fw-bold fs-1 mt-4">The Process</h2>
    <div class="process-line mt-4"></div>
    <p class="text-white fw-bold fs-3 my-4">Interview with Juliet Hammond</p>
    <p class="text-white fs-4 mb-4">
      In conversation with our Head of Design and founder of Equipped After
      Dark.
    </p>
  </div>
</div>

<div class="container mt-5">
  <div class="d-sm-block d-lg-flex">
    <div>
      <h1>"</h1>
      <p class="fs-5">
        Equipped After Dark was created to fill my own need of wanting practical
        clothing, fit for the UK weather, which also incorporates the latest
        tech-wear features to make it extra wearable. But most importantly,
        clothing that makes you look amazing and something you could wear on a
        night out that doesn't make you look like you're going hiking.
      </p>
      <h1>"</h1>
    </div>
    <img
      style="width: 25rem"
      src="assets/pexels-cottonbro-studio-10352429.jpg"
    />
  </div>

  <div class="d-sm-block d-lg-flex mt-5">
    <div class="d-flex">
      <div class="hand-designed-line pe-4"></div>
      <div>
        <p class="fw-bold fs-5">Hand Designed</p>
        <p class="fs-5">
          My brand is all about quality. That's why we hand illustrate our
          designs before employing the latest digital and manufacturing
          technology.
        </p>
      </div>
    </div>
    <img class="mt-sm-5 mt-lg-0" style="width: 25rem" src="assets/Hand.png" />
  </div>

  <div class="d-sm-block d-lg-flex">
    <img style="width: 30rem" src="assets/shoe-photo.jpg" />
    <div class="pt-5 ms-sm-0 ms-lg-4">
      <div class="product-line"></div>
      <p>Before Dawn Trainers</p>
    </div>
  </div>
  <img class="mt-5" style="width: 30rem" src="assets/Shoe.png" />

  <div class="divider-line mt-5"></div>
  <div class="d-sm-block d-lg-flex mt-5">
    <img
      style="width: 35rem"
      src="assets/pexels-cottonbro-studio-10352417.jpg"
    />
    <div class="pt-5 ms-sm-0 ms-lg-5">
      <p class="text-uppercase fw-bold fs-4 ms-sm-5 ms-lg-0">Background</p>
      <p class="fs-5 m-sm-5 m-lg-0">
        I've always had a passion for design from a young age, even if I didn't
        realise that it was my designer's eye I was working on. I've always
        taken a lot of inspiration from my surroundings, whether that's
        architecture, what people wear or how people choose to decorate their
        homes. <br />
        <br />
        Studying design more seriously, I feel like I've built this internal
        library of design genres. I know what's visually appealing to myself,
        but what has served me well is knowing what fits other people depending
        on their character and lifestyle.
      </p>
    </div>
  </div>

  <img class="inspired-img mt-5" src="assets/inspiration.jpg" />
  <h3 class="text-uppercase fw-bold fs-2 m-5">Inspiration</h3>
  <div class="divider-line mt-5"></div>
  <p class="fs-5 m-5">
    I want to inspire the people who are visionaries, the ones who know who they
    want to be but maybe don't know exactly what that looks like yet. I want you
    to be able to express yourself through my designs and make them your own.<br />
    <br />I'm constantly having ideas, attempting to bring them to life,
    inevitably experiencing failures but most importantly continuously
    developing as a creative. I urge you to do the same as your potential
    reflects in the dark.
  </p>
  <button class="explore-btn text-uppercase d-block m-auto my-5">
    Explore
  </button>
</div>

<app-advert></app-advert>
