<div class="d-flex justify-content-center">
  <div class="my-5 d-sm-block d-lg-flex">
    <div [@slideUp]="cardStates[0]" class="card-color text-white m-3">
      <img
        class="card-img"
        src="/assets/featured-img-01.jpg"
        alt="Featured product"
      />
      <div class="me-4">
        <h5 class="card-title text-end fs-2 mb-3">
          After Dark<br />Reflective Jacket
        </h5>
        <button class="float-end mb-4">VISIT</button>
      </div>
    </div>

    <div [@slideUp]="cardStates[1]" class="card-color text-white m-3">
      <img
        class="card-img"
        src="/assets/featured-img-02.jpg"
        alt="Featured product"
      />
      <div class="me-4">
        <h5 class="card-title text-end fs-2 mb-3">
          All Bases<br />Puffer Jacket
        </h5>
        <button class="float-end mb-4">VISIT</button>
      </div>
    </div>

    <div [@slideUp]="cardStates[2]" class="card-color text-white m-3">
      <img
        class="card-img"
        src="/assets/featured-img-03.jpg"
        alt="Featured product"
      />
      <div class="me-4">
        <h5 class="card-title text-end fs-2 mb-3">
          Reflective Trim<br />Jacket
        </h5>
        <button class="float-end mb-4">VISIT</button>
      </div>
    </div>
  </div>
</div>
