$purple: #a61ed3;
$green: #0df733;
$orange: #f27a2a;

svg.text-green {
  color: $green !important;
}

svg.text-purple {
  color: $purple !important;
}

svg:hover {
  color: $green !important;
  cursor: pointer;
}

button {
  color: #fff;
  background-color: #000;
  font-size: 24px;
  font-weight: bold;
  border: none;
  padding-left: 13px;
  padding-right: 13px;
}

.green__link {
  color: #fff;
  background-color: #000;
  &:hover{
      color: #000;
      background-color: #{$green};
  }
}
