<app-hero></app-hero>
<app-horizontal-cards></app-horizontal-cards>
<app-advert></app-advert>
<app-featured-cards></app-featured-cards>

<section>
  <div class="bg-black p-5">
    <h2 class="text-uppercase text-white fs-1">The Brand</h2>
    <div class="brand-line float-end me-5"></div>
    <p class="text-white fs-4 pt-4">Delve into what we're all about</p>
  </div>

  <div class="d-lg-flex">
    <img
      style="width: 500px"
      class="m-5"
      src="/assets/coat.jpg"
      alt="Illustration of a coat"
    />
    <div class="d-flex mt-5">
      <div class="line-1 ms-5"></div>
      <p class="fs-4 mx-4 my-2">
        At Equipped After Dark, it's all about being seen when you need it most.
        Our three core colours stand out but in harmony with the dark, paired
        with our staple reflective tech wear.
      </p>
    </div>

    <div class="m-4">
      <div class="purple-swatch my-3"></div>
      <div class="green-swatch my-3"></div>
      <div class="orange-swatch my-3"></div>
    </div>
  </div>
</section>

<section>
  <div class="line-2"></div>
  <h2 class="text-center text-uppercase fs-1 pt-2">Choose to be Equipped</h2>
  <div class="line-2"></div>
  <img
    class="equipped-img mt-5"
    src="/assets/choose-to-be-equipped.jpg"
    alt="models standing in front of car"
  />

  <div class="d-flex justify-content-center container">
    <div class="about-products d-sm-block d-lg-flex my-5">
      <div>
        <p>
          Our products are made with urban night life in mind. Be prepared for
          the weather with quality materials that are waterproof and highly
          reflective. Inspired by tech-wear, our design focus is on
          practicality, safety and most of all, looking good while doing it.
        </p>
        <div class="btn-group-vertical">
          <button class="store-btn text-uppercase">Store</button>
          <button class="more-btn text-uppercase">More</button>
        </div>
      </div>
      <div>
        <img
          class="home-products-img"
          src="/assets/pexels-cottonbro-studio-10378660.jpg"
          alt="woman looking over city"
        />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="be-inspired p-5">
    <h2 class="text-uppercase fs-1 pt-4">Get Inspired</h2>
    <div class="line-3"></div>
    <button class="show-me-btn text-uppercase mt-5">Show Me</button>
    <img
      class="apparel-img float-end me-5 pt-5"
      src="/assets/apparel-img.jpg"
      alt="After Dark Apparel"
    />
  </div>
</section>

<video width="100%" autoplay muted>
  <source src="/assets/home-video.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>

<div class="email-bg p-5">
  <h3 class="text-uppercase fs-1">Want to recieve exclusive emails?</h3>
  <p class="fs-4">
    Sign up to our newsletter to receive 10% off your first order, access to
    exclusive sales and previews of our new items.
  </p>
  <div class="d-flex justify-content-end">
    <div class="form-group">
      <input
        type="email"
        class="sign-up form-control text-uppercase rounded-0 text-end"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
  </div>
  <button type="submit" class="sign-up-btn text-uppercase float-end my-4">
    Sign Up
  </button>
</div>
