$purple: #a61ed3;
$green: #0df733;
$orange: #f27a2a;

.brand-line{
    width: 300px;
    border-bottom: 4px solid #fff;
    }

.line-1 {
    height: 150px;
    border-left: 4px solid #000;
}

.line-2 {
    margin: auto;
    width: 500px;
    border-bottom: 4px solid #000;
    justify-content: center;
    align-items: center;
}

.line-3 {
    width: 350px;
    border-bottom: 4px solid #000;
}

.purple-swatch {
    width: 150px;
    height: 150px;
    background-color: $purple;
}

.green-swatch {
    width: 150px;
    height: 150px;
    background-color: $green;
}

.orange-swatch {
    width: 150px;
    height: 150px;
    background-color: $orange;
}

.equipped-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.home-products-img {
    width: 30%;
}

.apparel-img {
    width: 40%;
}

button {
    font-size: 24px;
    font-weight: bold;
    border: none;
    padding-left: 28px;
    padding-right: 28px;
    
  }

.store-btn {
    color: #000;
    background-color: $green;
    &:hover {
        color: #fff;
        background-color: #000;
      }
}

.more-btn {
    color: #000;
    background-color: $orange;
    &:hover {
        color: #fff;
        background-color: #000;
      }
}

.show-me-btn {
    color: #fff;
    background-color: $purple;
    &:hover {
        color: #000;
        background-color: #fff;
      }
}

.sign-up-btn {
    color: #fff;
    background-color: #000;
    &:hover {
        color: #000;
        background-color: #fff;
      }
}

.be-inspired {
    background-color: #DCDCDC;
    height: 1000px;
}

.email-bg {
    background-color: $green;
}

.sign-up {
    width: 300px;
    color: #fff;
    background-color: transparent;
    border-bottom: 4px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
}

::placeholder {
    color: #fff;
}