$purple: #a61ed3;
$green: #0df733;
$orange: #f27a2a;

.card-color {
  background-color: $purple;
  width: 100%;
  overflow: hidden;
}

.card-img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
}

.card-img:hover {
  transform: scale(1.1);
}

button {
  color: #fff;
  background-color: #000;
  font-size: 24px;
  font-weight: bold;
  border: none;
  padding-left: 28px;
  padding-right: 28px;
  &:hover {
    color: #000;
    background-color: #fff;
  }
}

svg.text-green {
  color: $green !important;
}

svg.text-white {
  color: white !important;
}

svg:hover {
  color: $green !important;
  cursor: pointer;
}
