<div class="advert-color d-flex">
  <img
    class="advert-img object-fit-cover"
    src="/assets/ad-img-01.jpg"
    alt="people standing by car"
  />
  <div class="mt-sm-0 mt-md-5 mt-lg-10">
    <h4 class="text-uppercase fs-1 fw-bold">The New Collection</h4>
    <p class="fs-4">
      Our latest designs have hit the store. Check them out or discover more
      about the new range.
    </p>
    <button class="text-uppercase">New In</button>
    <button class="text-uppercase">Inspiration</button>
  </div>
</div>
