<div class="background d-flex justify-content-center py-5">
  <div>
    <h2 class="text-white text-center fs-1 mb-3">
      New to Equipped After Dark?
    </h2>
    <a
      href="/register"
      class="text-decoration-none d-flex justify-content-center mb-5"
    >
      <button class="py-1 px-4">Register Here</button>
    </a>

    <h2 class="text-white text-center fs-1 mb-3">Already have an account?</h2>
    <a href="/login" class="text-decoration-none d-flex justify-content-center">
      <button class="py-1 px-4">Login Here</button>
    </a>
  </div>
</div>
