<div class="header-color">
  <div class="container pt-5">
    <h1 class="title fw-bold text-uppercase text-end">For Developers</h1>
    <div class="line-header float-end"></div>
    <p class="text-end fs-4 mt-4 pb-5">
      This page is for demo purposes in order to test errors on this site.
    </p>
  </div>
</div>

<div class="container d-sm-block d-lg-flex my-5">
  <button class="text-uppercase m-3">500 Error</button>
  <button class="text-uppercase m-3">404 Error</button>
  <button class="text-uppercase m-3">400 Error</button>
  <button class="text-uppercase m-3">400 Validation Error</button>
</div>
